@import 'variables';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: $primary-color;
  background-color: $white;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: $white;
}

@media only screen and (min-width: 1024px) {
  #flex-container {
    display: flex;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    margin-top: 8rem;
    gap: 10rem;

    .page-header {
      margin-top: 65px;
      width: 40%;
      min-width: 30%;
    }
  }
}

// move to top btn
#to-top {
  padding: 5px 3px;
  position: fixed;
  bottom: 0;
  right: 5px;
  display: none;
  font-size: 3rem;
  .fa-circle-arrow-up {
    color: $secondary-color;
    background-color: $primary-color;
    border-radius: 50%;
    transition: all ease 0.3s;
    &:hover {
      cursor: pointer;
      color: $primary-color;
      background-color: $secondary-color;
    }
  }
}
