@import 'variables';

section.new-tweet {
  margin-top: 3rem;
  display: none;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  label {
    font-weight: 600;
    padding-bottom: 0.5rem;
  }

  textarea {
    outline: none;
    border: none;
    background-color: $white;
    resize: none;
    border-bottom: 3px solid $primary-color;
    font-weight: 600;
  }

  footer {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Bungee', cursive;
  }

  button {
    background-color: $blue;
    color: $white;
    font-family: 'Bungee', cursive;
  }

  #error-msg {
    display: none;
    width: 80%;
    background-color: #ffffff;
    padding: 16px;
    border: 1px solid $white;
    border-left-width: 5px;
    border-radius: 3px;
    margin: 20px auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-left-color: $secondary-color;
    background-color: rgba(217, 83, 79, 0.1);
  }
}

.red-counter {
  color: $secondary-color;
}
