section .tweet {
  border: 4px solid #545149;
  margin-top: 4rem;
  padding: 1rem;
}
section .tweet:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
section .tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 1rem 0.5rem;
}
section .tweet .user-handle {
  color: #c5cbe3;
  font-weight: 600;
}
section .tweet .user {
  display: flex;
  align-items: center;
  gap: 10px;
}
section .tweet img {
  width: 60px;
}
section .tweet .content {
  font-weight: 600;
  overflow-wrap: break-word;
}
section .tweet hr {
  border: none;
  border-bottom: 3px solid #545149;
}
section .tweet footer {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}
section .tweet .icon-tray {
  display: flex;
  gap: 0.5rem;
  color: #4056a1;
}
section .tweet .icon-tray i:hover {
  color: #d89820;
}
