html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */
body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: #f4f1ec;
}

@media only screen and (min-width: 1024px) {
  #flex-container {
    display: flex;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    margin-top: 8rem;
    gap: 10rem;
  }
  #flex-container .page-header {
    margin-top: 65px;
    width: 40%;
    min-width: 30%;
  }
}
#to-top {
  padding: 5px 3px;
  position: fixed;
  bottom: 0;
  right: 5px;
  display: none;
  font-size: 3rem;
}
#to-top .fa-circle-arrow-up {
  color: #ef3c1f;
  background-color: #545149;
  border-radius: 50%;
  transition: all ease 0.3s;
}
#to-top .fa-circle-arrow-up:hover {
  cursor: pointer;
  color: #545149;
  background-color: #ef3c1f;
}
